#!name =  iRingo: ✈ TestFlight
#!desc = 1.自定义TestFlight登录商店地区\n2.多账户保存及切换(需配置BoxJs使用)\n3.让通用应用在任意苹果处理器设备上可安装
#!openUrl = http://boxjs.com/#/app/iRingo.TestFlight
#!author = VirgilClyne[https://github.com/VirgilClyne]
#!homepage = https://NSRingo.github.io/guide/test-flight
#!icon = https://developer.apple.com/assets/elements/icons/testflight/testflight-128x128.png
#!category =  iRingo
#!date = 2024-12-24 08:53:51
#!version = 3.4.0

#[rewrite_local]
# ✈ TestFlight
^https?:\/\/testflight\.apple\.com\/ url script-request-body https://github.com/NSRingo/TestFlight/releases/download/v3.4.0/request.bundle.js
^https?:\/\/testflight\.apple\.com\/ url script-response-body https://github.com/NSRingo/TestFlight/releases/download/v3.4.0/response.bundle.js

#[mitm]
hostname = testflight.apple.com
